* {
    margin: 0;
}

#container {
    width: 1024px;
    height: 447px;
    /*background-color: darkblue;*/
    background-image: url("A52Bb807.png");
    position: relative;
}

#box {
    width: 155px;
    height: 237px;
    /*border-radius: 50%;*/
    /*background-color: red;*/
    background-image: url("19429708_441389466242373_6209212937583331925_n-removebg-preview.png");
    position: absolute;
}